{{- if ne .cp.library "" }}
[templates]
    default = "{{ .cp.library }}/cpp/template/basic.cpp"
    query = "{{ .cp.library }}/cpp/template/basic-query.cpp"
    codeforces = "{{ .cp.library }}/cpp/template/codeforces.cpp"
{{- end }}
